<div class="container">
  <div class="sub_container">
    <div *ngIf="one_switch">
      <input #in_p_one_red class="input" type="text" value="{{ player_one }}" />
    </div>
    <div class="circle" id="red"></div>
    <div *ngIf="two_switch">
      <input #in_p_two_red class="input" type="text" value="{{ player_two }}" />
    </div>
  </div>
  <div class="sub_container">
    <div *ngIf="two_switch">
      <input
        #in_p_one_blue
        class="input"
        type="text"
        value="{{ player_one }}"
      />
    </div>
    <div class="circle" id="blue"></div>
    <div *ngIf="one_switch">
      <input
        #in_p_two_blue
        class="input"
        type="text"
        value="{{ player_two }}"
      />
    </div>
  </div>
  <button class="button-64" role="button" (click)="switch()">
    <span class="text"> Switch </span>
  </button>
  <a routerLink="/game" routerLinkActive="active">
    <button class="button-64" role="button">
      <span class="text"> Start </span>
    </button>
  </a>
</div>
<p>Hallo</p>
