.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120pt;
}

.container > * {
  margin-bottom: 10pt;
}

a {
  text-decoration: none;
}
